{{!-- teacher-header-read-only.hbs --}}

<div class="row">
    <div class="col-sm-6">
        <h3>Teacher</h3>
    </div>
    {{!-- <div class="col-sm-6 d-flex justify-content-end">
        <a href="{{parentDir}}/add-teacher" type="button" class="btn btn-dark align-self-center"><i
                class="bi bi-plus-lg"></i> Add Teacher</a>
    </div> --}}
</div>