{{!-- edit-department-form.hbs --}}

{{!-- Edit Department Form --}}
<div class="row g-3">
    <div class="col-sm-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="deptAbbr" value="{{this.Dept_abbr}}"
                placeholder="Department Abbreviation" name="dept_abbr" required>
            <label for="deptAbbr">Department Abbreviation</label>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="deptName" value="{{this.Dept_name}}"
                placeholder="Department Name" name="dept_name" required>
            <label for="deptName">Department Name</label>
        </div>
    </div>
    <div class="col-sm-12 d-grid">
        <button class="btn btn-dark" type="submit">Submit</button>
    </div>
</div>