{{!-- edit-subject-form.hbs --}}

{{!-- Edit Subject Form --}}
<div class="row g-3">
    <div class="col-sm-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="subjectCode" value="{{this.Subject_code}}"
                placeholder="Subject Code" name="subject_code" required>
            <label for="subjectCode">Subject Code</label>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="subjectName" value="{{this.Subject_name}}"
                placeholder="Subject Name" name="subject_name" required>
            <label for="subjectName">Subject Name</label>
        </div>
    </div>
    <div class="col-sm-12 d-grid">
        <button class="btn btn-dark" type="submit">Submit</button>
    </div>
</div>