{{!-- forgot-password-form.hbs --}}

{{!-- Forgot Password Form --}}
<div class="col-sm-4">
    <div class="form-floating mb-3">
        <select class="form-select" name="signin_user_type" aria-label="Default select example" required>
            <option selected>User Type</option>
            <option value="admin">Admin</option>
            <option value="teacher">Teacher</option>
            <option value="student">Student</option>
        </select>
    </div>
</div>
<div class="col-sm-4">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="User ID" name="signin_user_id">
        <label for="floatingInput" required>User ID</label>
    </div>
</div>
<div class="col-sm-4">
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="signin_password">
        <label for="floatingPassword" required>New Password</label>
    </div>
</div>
<div class="col-sm-12 d-grid">
    <button class="btn btn-dark" type="submit">Submit</button>
</div>

